.layout{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100vh;
  max-width: 1500px;
}

.errorDisplay{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 100vh;
	place-items: center ;
	background: #777;
}